/* LOGIN */
.dark .bg-white {
    background-color: #404040 !important;
}

.dark .zn-logo-title {
    color: white;
}

.dark .zn-logo-subtitle {
    color: #7bdeab;
}

.dark .zn-font-size {
    font-size: 23px !important;
    font-weight: 600;
    color: #ffffff !important;
}

.dark .aside-menu-wrapper{
    background: #1f1f1f;
}

.dark .logo {
    filter: invert(0) contrast(0) brightness(162%) !important;
}

.dark .separator {
    border-bottom: 1px solid #2b2b2b !important;
}

.dark .menu-state-bg .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here), 
.dark .menu-state-bg .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
    background-color: rgb(54 54 54 / 80%) !important;
}

.dark .menu-sub-dropdown {
    background-color: #252525;
}

.dark .aside-dark .menu .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here), .aside-dark .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
    transition: color 0.2s ease, background-color 0.2s ease;
    background-color: #161616;
    color: #ffffff;
}

.dark .aside.aside-dark .aside-logo {
    background-color: #1f1f1f !important;
}

.dark .table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: #363636 !important;
}

.dark .zn-gradient-login {
    background: linear-gradient(90deg, #404040 0%, #404040 55%, rgba(255, 255, 255, 0) 100%);
}

.dark .login.login-1 .login-form {
    color: #fff;
}

.dark .zn-login-container .input-group.input-group-solid {
    background-color: #2B2B2B;
}

.dark .zn-login-container .form-control.form-control-solid {
    color: white;
}

.dark .input-group.input-group-solid .form-control.form-control-solid:active,
.input-group.input-group-solid .form-control.form-control-solid.active,
.input-group.input-group-solid .form-control.form-control-solid:focus,
.input-group.input-group-solid .form-control.form-control-solid.focus {
    background-color: #00a551;
    border-color: #5e5e5f;
    color: #ffffff;
}

/* LOGIN */

/* MAIN */
.dark .text-dark {
    color: #ffffff !important;
}

.dark .aside .aside-secondary {
    overflow: hidden;
    background: #1f1f1f;
}

.dark .aside-menu .menu-nav {
    background: #1f1f1f;
    color: #e8e8e8;
}

.dark .list.list-hover .list-item {
    border-bottom: 1px solid #67a08363;
    color: #ffffff;
}

.dark .list.list-hover .list-item:hover {
    background-color: #333333;
    color: #8dcead;
}

/* .aside-secondary-enabled .aside .aside-primary {
    border-right: 1px solid #313131;
} */
.dark .aside .aside-primary {
    background: #151515 !important;
    border-right: 1px solid #2b2b2b !important;
}

.dark .card.card-custom {
    background-color: #1f1f1f;
    color: #fff !important;
}

.dark .form-group label {
    color: white;
}

.dark .dataTables_wrapper .dataTable th,
.dark .dataTables_wrapper .dataTable td {
    color: #ffffff;
}

.dark .table.table-separate th,
.dark .table.table-separate td {
    border-bottom: 1px solid #313131;
}

.dark .table.table-head-custom thead tr,
.dark .table.table-head-custom thead th {
    color: #5ac9ff !important;
}

.dark .select2-container--default.select2-container--focus .select2-selection--multiple,
.dark .select2-container--default.select2-container--focus .select2-selection--single,
.dark .select2-container--default.select2-container--open .select2-selection--multiple,
.dark .select2-container--default.select2-container--open .select2-selection--single {
    border-color: #424242 !important;
    background: #151515 !important;
    height: 38px !important;
}

.dark .select2-container--default .select2-selection--single {
    background-color: #151515 !important;
    border: 1px solid #424242 !important;
}

.dark .select2-container--default .select2-dropdown {
    background: #151515 !important;
    border: 1px solid #424242 !important;
}

.dark .select2-container--default .select2-results__option[aria-selected=true] {
    background: #151515 !important;
    color: #ffffff;
}

.dark .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #ffffff;
}

.dark .select2-container--default .select2-search--dropdown .select2-search__field {
    color: white;
    outline: none !important;
    border-radius: 0.42rem;
    border: 1px solid #3c3c3c;
    padding: 0.65rem 1rem;
    background: #3c3c3c;
}

.dark .select2-container--default .select2-results__option.select2-results__option--highlighted {
    background: #00a551;
    color: #ffffff;
}

/* .dark .select2-results {
    color: white;
} */
.dark .checkbox>span {
    background-color: #333333;
    border: 1px solid transparent;
}

.dark .card.card-custom>.card-header .card-title,
.dark .card.card-custom>.card-header .card-title .card-label {
    font-weight: 500;
    font-size: 1.275rem;
    color: #ffffff;
}

.dark .font-size-h5 {
    color: #ffffff !important;
}

.dark .nav .nav-link .nav-text {
    color: #ffffff;
}

.dark .nav-tabs {
    border-bottom: 1px solid #3a3a3a;
}

.dark .separator.separator-dashed {
    border-bottom: 1px dashed #353535;
}

.dark .timeline.timeline-1 .timeline-item .timeline-badge {
    background-color: #1f1f1f;
    border: 4px solid #1f1f1f;
}

.dark .text-dark-75 {
    color: #ffffff !important;
}

.dark .btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled),
.dark .btn.btn-clean:focus:not(.btn-text),
.dark .btn.btn-clean.focus:not(.btn-text) {
    background-color: #333333;
}

.dark .dropdown-menu.show {
    display: block;
    background: #353436;
}

.dark .navi .navi-item .navi-link .navi-text {
    color: #ffffff;
}

.dark .navi.navi-hover .navi-item .navi-link:hover {
    background-color: #484848;
}

.dark .form-control, .dark .input-group-solid {
    color: #fff;
    background-color: #151515;
    border: 1px solid #1f1f1f !important;
}

.dark #znNotif-text {
    color: #868686;
}

.dark .font-size-xs {
    color: #fff;
}

.dark .offcanvas {
    background: #252525;
}

.dark .symbol.symbol-40 .symbol-label {
    background: #464646;
}

.dark h5,
.dark h3 {
    color: #fff;
}

.dark .btn.btn-light {
    color: #7E8299;
    background-color: #464646;
    border-color: #464646;
}

.dark div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0;
    background: #151515;
    border: 1px solid #151515;
}

.dark .bootstrap-select .dropdown-menu.inner>li>a .text {
    color: #ffffff;
}

.dark .dropdown-item:hover,
.dropdown-item:focus {
    color: #101221;
    text-decoration: none;
    background-color: #4a4a4a;
}

.dark .bootstrap-select .dropdown-menu.inner>li.selected>a,
.dark .bootstrap-select .dropdown-menu.inner>li:hover>a {
    background: #545454;
}

.dark .select2-container--default .select2-results__option {
    padding: 0.65rem 1rem;
    color: white !important;
}

.dark .form-control[readonly] {
    background-color: #1f1f1f !important;
    border: none !important;
    padding: 15px;
}

.dark .btn.btn-clean:not(:disabled):not(.disabled):active:not(.btn-text),
.dark .btn.btn-clean:not(:disabled):not(.disabled).active,
.dark .show>.btn.btn-clean.dropdown-toggle,
.dark .show .btn.btn-clean.btn-dropdown {
    color: #00a551;
    background-color: #353535;
    border-color: transparent;
}

.dark .dataTables_wrapper .dataTables_paginate .pagination .page-item.first>.page-link,
.dark .dataTables_wrapper .dataTables_paginate .pagination .page-item.last>.page-link,
.dark .dataTables_wrapper .dataTables_paginate .pagination .page-item.next>.page-link,
.dark .dataTables_wrapper .dataTables_paginate .pagination .page-item.previous>.page-link {
    -webkit-transition: color .15s ease, background-color .15s ease, border-color .15s ease, -webkit-box-shadow .15s ease;
    transition: color .15s ease, background-color .15s ease, border-color .15s ease, -webkit-box-shadow .15s ease;
    transition: color .15s ease, background-color .15s ease, border-color .15s ease, box-shadow .15s ease;
    transition: color .15s ease, background-color .15s ease, border-color .15s ease, box-shadow .15s ease, -webkit-box-shadow .15s ease;
    background-color: #f3f6f91c;
    color: #7e8299;
}

.dark .accordion.accordion-light .card {
    border: 0;
    border-top: 1px solid #2d2d2d;
    background: #1f1f1f;
}

.dark .accordion.accordion-toggle-arrow .card .card-header .card-title.collapsed {
    color: #ffffff;
}

.dark .zn-profile-icon {
    font-size: 40px;
    background: #464646;
    padding: 15px;
    border-radius: 4px;
    color: #c9f7f5;
}

.dark .form-control:disabled,
.dark .form-control[readonly] {
    background-color: #424242 !important;
    opacity: 1;
}

/* TABLE DARK */
.dark .table-light td,
.dark .table-light tbody+tbody {
    border-color: #333333;
    background: #252525;
    color: white;
}

.dark .table-light th,
.dark .table-light thead th {
    border-color: #212121;
    background: #1f1f1f;
}

.dark .table:not(.table-bordered) thead td,
.dark .table:not(.table-bordered) thead th {
    border-top: 0;
    color: white;
    border-bottom: 1px solid #2d2d2d;
}

.dark .table td {
    border-bottom: 1px solid #2d2d2d;
}

.dark .zn-tb-detail {
    background: #272727;
    border-bottom: 1px dashed #2f2f2f;
    margin-bottom: 30px;
    border-top: 1px dashed #2f2f2f;
    padding-top: 15px;
}

.dark .zn-full-modal .modal-dialog .modal-content {
    height: 100%;
    color: #333;
    overflow: auto;
    background: #1f1f1f;
}

.dark .kt-widget6 .kt-widget6__body .kt-widget6__item {
    border-bottom: 1px dashed #ebedf230;
}

.dark .zn-widget6-head {
    background: #1515158a;
}

.dark .zn-widget6-head span {
    color: #ffffff !important;
}

.dark .zn-widget6-head span i {
    color: #ffffff !important;
}


.dark .zn-list-rekening-title-success {
    background-color: #383838;
}

.dark .zn-list-rekening-title-danger {
    background-color: #383838;
}

.dark .zn-card-rekening {
    border: 1px dashed #5a5a5a !important;
    background: #292929;
}

.dark .input-group-text {
    background-color: #424242;
    border: 1px solid #424242;
}
.dark .zn-list-rekening-title {
    background-color: #2f2f2f !important;
}

.dark .paginationjs .paginationjs-pages li:first-child {
    border-radius: 5px;
    background: #151515 !important;
}

.dark .paginationjs .paginationjs-pages li:last-child {
    border-radius: 5px;
    background: #151515 !important;
}
.dark .paginationjs .paginationjs-pages li.disabled>a:hover {
    background: #151515 !important;
}
.dark .accordion.accordion-toggle-arrow .card .card-header .card-title {
    position: relative;
    color: #ffffff;
}
.dark .custom-file-label {
    text-align: left;
    background: #151515;
    border: 1px solid #424242;
}
.dark .custom-file-label::after {
    background: #424242;
    color: #ffff;
}
/* .dark .aside-secondary-enabled .aside .aside-primary {
    border-right: 1px solid #2b2b2b !important;
} */

.dark #kt_header_mobile{
    background: #1f1f1f;
}

.dark .header {
    background-color: #1f1f1f;
    border-bottom: 1px solid #1f1f1f;
}

.dark .zn-text-logo {
    color: #fff;
}

.dark .aside-menu {
    background-color: #1f1f1f;
}

.dark .aside-menu .menu-nav>.menu-item>.menu-heading .menu-text, 
.dark .aside-menu .menu-nav>.menu-item>.menu-link .menu-text {
    color: #ffffff;
}

.dark .aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-heading .menu-text,
.dark .aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-link .menu-text {
    color: #ffffff;
}

.dark .aside-menu .menu-nav>.menu-item.menu-item-open>.menu-heading, 
.dark .aside-menu .menu-nav>.menu-item.menu-item-open>.menu-link {
    background-color: #353535;
}

.dark .aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading, 
.dark .aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link {
    background-color: #383838;
}

.dark .aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading,
.dark .aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link {
    background-color: #2b2b2b;
}

.dark .card.card-custom>.card-header {
    background: #252525 !important;
    border: 1px solid #252525 !important;
}

.dark .label.label-xl.label-inline {
    background: #353535 !important;
    color: #fff !important;
}

.dark .dropdown-item {
    color: #ffffff !important; 
}

.dark #container-loading {
    background: #1f1f1f;
}

/* .dark .select2-container--bootstrap5.select2-container--focus .form-select:not(.form-select-solid):not(.form-select-transparent), .select2-container--bootstrap5.select2-container--open .form-select:not(.form-select-solid):not(.form-select-transparent) {
    border-color: #B5B5C3;
    background: #151515 !important;
    border: 1px solid #464646 !important;
} */

.dark .form-select {
    background-color: #151515;
    border: 1px solid #464646;
}
.dark .card {
    background: #1f1f1f;
}
.dark .text-gray-700 {
    color: #ffffff !important;
}

.dark .accordion-item {
    background-color: #282828;
    border: 1px solid #282828;
}
.dark .accordion-button:not(.collapsed) {
    background-color: #1c1c1c;
}

.dark .input-group.input-group-solid .input-group-text {
    background-color: #151515;
    border-color: #151515;
}

.dark .form-check.form-check-custom {
    color: white;
}

.dark .aside-dark .menu .menu-item .menu-link .menu-title {
    color: #ffffff !important;
}

.dark .text-gray-800 {
    color: #fff !important;
}

.dark #znAlert-text {
    color: #fff;
}

.dark #znAlertModal .modal-content {
    background-color: #fff !important;
}

.dark #znModal .modal-content {
    background-color: #fff !important;
}

.dark h6,.dark .h6,.dark h5, .h5,.dark h4,.dark .h4,.dark h3,.dark .h3,.dark h2,.dark .h2,.dark h1,.dark .h1 {
    color: #ffffff;
}

.dark .select2-container--bootstrap5 .select2-selection--single .select2-selection__rendered {
    color: #ffffff !important;
}

.dark .has-error .form-select {
    border: 1px solid #ff4779 !important;
}

.dark .accordion-button {
    color: #ffffff;
    background-color: #1f1f1f;
}

.dark .zn-close {
    color: white;
    background: #343434;
}

.dark .btn.btn-light-danger {
    color: #F1416C;
    border-color: #FFF5F8;
    background-color: #FFF5F8;
    background: #282828;
}

/* .dark .btn.btn-icon:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush) {
    border: 0;
    color: white;
    background: #303030 ;
} */

.dark .zn-bg-klt {
    background: #181818 !important;
    border-color: #1F1F1F !important;
}

.dark .has-error .form-control {
    border: 1px solid #ff4779 !important;
}

.dark .modal-content{
    background-color: #1F1F1F !important;
}

.dark .loading_custom_icon{
    /* width: 140px; */
    /* filter: invert(1) contrast(12); */
}

.dark .form-select.form-select-solid {
    background-color: #1f1f1f !important;
    border-color: #3c3c3c !important;
}


.dark .filepond--drop-label {
    color: #ffffff !important;
    border: 1px dashed #484848 !important;
    background: #252525 !important;
    border-radius: 5px;
    font-size: 14px !important;
}

.dark .filepond--panel-root {
    background-color: #252525 !important;
    border: 1px dashed #484848 !important;
}

.dark .zn-card-content{
    background: #1f1f1f !important;
}

.dark thead tr {
    background: #2a2a2a !important;
}

.dark table.dataTable>thead>tr>th:not(.sorting_disabled) {
    color: #fff !important;
}