* {
    font-family: poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none
    }
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: inset 0 0 0 transparent
}

.form-group {
    margin-bottom: 1.2rem;
}

.borderInput,
.border-input {
    background: #FFFFFF;
    border: 1px solid #CBCBCB;
    height: 41px;
    border-radius: 10px;
    font-size: 14px;
    padding: 0 12px;
    margin-top: .3rem;
}

.borderInput::placeholder,
.border-input::placeholder {
    color: #ccc;
}

.borderInput:focus,
.border-input:focus {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.09);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #2b2b2b;
    -webkit-box-shadow: 0 0 0px 1000px #ebffd2 inset;
}

.help-block {
    color: #fb5b5b;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.mt-4 {
    margin-top: 1.8rem;
}

body {
    min-height: 95vh;
    background-color: #eeffdb !important;
    padding: 0 70px;
}

.relative {
    position: relative;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}

.container {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 95vh;
}

.block {
    display: block;
}

.text-center {
    text-align: center;
}

.incorrect {
    margin-top: 3px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FB5B5B;
}

.leftSide {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: -4rem;
}

.grid {
    display: grid;
    gap: 1rem;
}

.rightSide {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.logo {
    width: 240px;
    margin-bottom: 3rem;
}


.text {
    font-weight: 500;
    font-size: 28px;
    line-height: 24px;
    color: #FFFFFF;
    white-space: nowrap;
    margin-bottom: 30px;
}

.cards {
    position: relative;
    max-width: 364px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(204, 216, 228, 0.5);
    border-radius: 20px;
    padding: 50px 34px;
}

.reset {
    width: 364px;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #3B465A;
}

.sub-title {
    margin-top: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #3B465A;
    margin-bottom: 2rem;
}

.title-form {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2b2b2b;
}

.mtForm {
    margin-top: 24px;
}

.mt-3 {
    margin-top: 1rem !important;
}

.btnLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    height: 41px;
    background: linear-gradient(90deg, #8CBD57 0%, #b0df7f 104.42%);
    color: #fff !important;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-top: 2.8rem;
}

.btnLogin:hover {
    box-shadow: 0px 9px 12px -8px rgba(147, 230, 70, 0.78);
    color: #fff;
}

.btnShowPassword {
    position: absolute;
    right: 14px;
    bottom: 10px;
    background: transparent;
    outline: none;
    border: none;
}

.btnShowPassword i {
    font-size: 14px;
    color: #777;
}

.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 40px;
    z-index: 20;
    background: transparent;
}

.strip {
    margin-left: 4px;
    margin-right: 4px;
}

.txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #68717A;
}

.dataImg {
    width: 120%;
    margin-top: 3rem;
    margin-left: -1.4rem;
}

@media screen and (min-width:1060px) {

    .logo2,
    .giscaImg2,
    .background2 {
        display: none;
    }
}

@media screen and (max-width: 390px) {
    .giscaImg2 {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 310px;
    }
}

@media screen and (max-width: 1060px) {
    body {
        min-height: 95vh;
        background-color: #f8fafb !important;
        padding: 0;
    }

    .background {
        display: none;
    }

    .background2 {
        position: absolute;
        left: 0;
        width: 100%;
    }

    .container {
        position: relative;
        display: grid;
        height: 95vh;
    }

    .leftSide {
        display: none;
    }

    .rightSide {
        justify-content: center;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .cards {
        position: relative;
        width: 100%;
        z-index: 99;
        margin-bottom: 4rem;
    }

    .reset {
        width: 100%;
    }

    .form-vertical {
        padding: 0 1rem;
    }

    .giscaImg2 {
        display: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        display: none;
    }

    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo2 {
        width: 200px;
        margin-bottom: 1.2rem;
    }

    .text {
        display: none;
    }

    .footer {
        display: grid;
        place-content: center;
        text-align: center;
        width: 100%;
        height: 70px;
        padding: 0 10px;
        background: rgba(248, 250, 251, 0.60);
    }

    .txt {
        text-align: center;
    }

    .strip {
        display: none;
    }
}